.navigation-body {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navigation-link {
  float: right;
  padding: 10px;
  margin-bottom: 1.5rem;
}

.navigation-home {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 1.5rem;
  font-weight: 650;
  font-size: large;
}
